body {
        display: flex;
        margin: 0px;
}

.info {
 float: right;
 margin-left: 0%;
margin-right: 0%;
margin-bottom: auto;
width: 30%;
 
}


.entry {
  
margin: 10% 0% 10% 0px;
max-width: 280px;


}

.entry h2 {
margin: 0% 0% 0% 0;
}

.entry img{
  width: 28px;
  float: left;
  margin: 0% 6% 12% 5%;

}

/*.info img {
  float: left;
  margin: 8% 12% 0% 0;
max-width: 30px;
max-height: 30px;
display: block;
}*/

.header {
  margin-bottom: 75px;
  max-width: 590px;
}

.header img {
  float: left;
  margin-right: 70px;
}

.carousel__image:active {
  width: 150%;
}


.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  margin-bottom: -17px;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel__item {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel__image {
  display: block;
  width: 100%;
  object-fit: contain;
  
}

.controls {
  position: absolute;
  right: 0;
  bottom: 1em;
  left: 0;
  text-align: center;
}

.controls__dot {
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s;
  
  &:not(:first-child) {
    margin-left: 0.25em;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

p {
  line-height: 1.3;
}

.wrapper {
  margin-right: auto;  
  max-width: 68%;
  margin-top: 30px;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.game {
    font-family: Open Sans,Arial;
    color: #454545;
    padding: 0px 0em 0px 4em;
    line-height: 1.4;
    text-align: justify;
    height: 100vh;
    flex: 1 1 auto;
    overflow: auto;
}
 
.sidebar {
    height: 100vh;
    min-width: 200px;
    width: 25%;  
    background-color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.sidebar h3 {
        /** note: should probably be h2 **/
	display: none;
}

.game-element {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	padding: 0.5em;
	border-bottom: 1px #ddd solid;
}

.game-element:hover {
	background-color: #eee;
}

.game-element img {
	height: 64px;
}

.game-element a {
        vertical-align: baseline;
	line-height: 64px;
	flex: 1 0 auto;
	margin-left: 1em;
	color: #454545;
	text-decoration: none;
}

.menubtn {
	display: none;
}

@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
	}

	.menubtn {
		display: block;
	}

	.menubtn:checked~.sidebar{
		display: block;
        display: flex;
	}
}
